name: Run the tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install dependencies
        run: make deps

      - name: Run linters
        run: make lint

      - name: Run tests
        run: |
          make build
          make test
